<section class="text-center">
  <h1>Visualización ¿Cómo Vamos Colombia?</h1>
</section>

  <section>
    <p>
      Pequeña descripción de qué es, qué hace, cómo funciona. Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>

<section>
  <p class="main-label">
    Elige una ciudad:
  </p>
  <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>Bogotá</option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>Optimismo y bienestar</option>
    </select>
  </div>
    <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>CV5 - Pensando en las ...</option>
    </select>
  </div>
</section>

<section>
  <p class="main-label">
    Compara con otra ciudad:
  </p>
  <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>Ibagué</option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>Activos de las personas</option>
    </select>
  </div>
    <div class="col-xs-12 col-sm-4">
    <select class="" name="" value="1">
      <option>COL1 - Del 1 que es nada...</option>
    </select>
  </div>
</section>

<section class="text-center">
  <h1>Nombre del indicador</h1>
  <img src="images/screen_1.png">
</section>

<section>
  <div class="col-xs-12 col-sm-5">
    <img src="images/screen_2.png">
  </div>

  <div class="col-xs-12 col-sm-7">
    <div class="poll_experience">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <ul>
        <li><span class="index">1.</span>Muy Mala</li>
        <li><span class="index">2.</span>Mala</li>
        <li><span class="index">3.</span>Regular</li>
        <li><span class="index">4.</span>Buena</li>
        <li><span class="index">5.</span>Muy buena</li>
      </ul>
    </div>

    <div class="poll_experience">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
      <ul>
        <li><span class="index">1.</span>Muy Mala</li>
        <li><span class="index">2.</span>Mala</li>
        <li><span class="index">3.</span>Regular</li>
        <li><span class="index">4.</span>Buena</li>
        <li><span class="index">5.</span>Muy buena</li>
      </ul>
    </div>
  </div>
</section>


<!-- <select class="" name=""></select>
<select class="" name=""></select> -->
