<section class="text-center">
  <img src="../images/ciudatos-pos.png">
</section>

  <section>
    <p class="text-justify">
      Bienvenido a la aplicación de Datos Abiertos de la Red de Ciudades Como Vamos Colombia.
      En esta aplicación podrás explorar los datos históricos comparables y no comparables
      de las 11 ciudades Cómo Vamos. Selecciona una ciudad, el tipo de indicador
      que quieres visualizar (objetivo-subjetivo), un tema, la variable de interés y
      compárala frente a otra en una diferente ciudad de la Red. Debido al gran número de variables,
      esta aplicación está en continuo desarrollo, por lo que esperamos tu retroalimentación.
    </p>
  </section>

<section>
  <p class="main-label">
    Elige una ciudad:
  </p>
  <div class="col-xs-12 col-sm-6">
    <select class="form-control" name="" ng-model="main.firstSelectedOption.city" ng-options="option.name for option in main.data">
      <option value=""> Selecciona una Ciudad ... </option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-6">
    <select class="form-control" name="" ng-model="main.firstSelectedOption.category" ng-options="option.name for option in main.firstSelectedOption.city.categories">
      <option value=""> Selecciona un tema ... </option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-12 indicator-selector">
    <select chosen class="form-control" name="" data-placeholder="Selecciona un Indicador..." options="main.firstSelectedOption.city.indicators" ng-model="main.firstSelectedOption.indicator" ng-options="option.description group by option.type for option in main.firstSelectedOption.category.indicators" ng-change="main.drawGraph()">
      <!-- <option>CV5 - Pensando en las ...</option> -->
      <option></option>
    </select>
  </div>
</section>

<section>
  <p class="main-label">
    Compara con otra ciudad:
  </p>
  <div class="col-xs-12 col-sm-6">
    <select class="form-control" name="" ng-model="main.secondSelectedOption.city" ng-options="option.name for option in main.data">
      <option value=""> Selecciona una Ciudad ... </option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-6">
    <select class="form-control" name="" ng-model="main.secondSelectedOption.category" ng-options="option.name for option in main.secondSelectedOption.city.categories">
      <option value=""> Selecciona un tema ... </option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-12 indicator-selector">
    <select chosen class="form-control"name="" data-placeholder="Selecciona un Indicador..." options="main.secondSelectedOption.city.indicators" ng-model="main.secondSelectedOption.indicator" ng-options="option.description group by option.type for option in main.secondSelectedOption.category.indicators" ng-change="main.drawGraph()">
      <!-- <option>CV5 - Pensando en las ...</option> -->
      <option></option>
    </select>
  </div>
</section>

<div class="hidden" id="graph-area">
  <section>
    <div class="row">
    <br>
    <br>
      <div class="col-xs-12 col-sm-6">
        <div class="poll_experience">
        <h3>{{main.firstSelectedOption.city.name}}</h3>  <img src="../images/yellow_box.png" class="roundedcorners">
          <p>
            <strong>{{main.firstSelectedOption.indicator.name}}</strong> {{main.firstSelectedOption.indicator.description}}
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="poll_experience">
          <h3>{{main.secondSelectedOption.city.name}}</h3> <img src="../images/pink_box.png" class="roundedcorners">
          <p>
            <strong>{{main.secondSelectedOption.indicator.name}}</strong> {{main.secondSelectedOption.indicator.description}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center">
      <!-- <h1>Nombre del indicador</h1> -->
    <highchart id="chart1" config="main.chartConfig" ng-show="main.showChart"></highchart>
    <a href="http://104.197.100.142:5000/data.csv?city_1={{main.firstSelectedOption.city.name}}&indicator_1={{main.firstSelectedOption.indicator.name}}&city_2={{main.secondSelectedOption.city.name}}&indicator_2={{main.secondSelectedOption.indicator.name}}">Descarga los datos</a><br/>
    <a href="http://comovamos.eokoe.com/organization/red-de-ciudades-como-vamos">Para más información sobre las variables, Consulta los diccionarios de datos.</a>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>La variable 1 está también en:</h5>
        <d3-map indicator={{cities_indicator_1}}></d3-map>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h4>La variable 2 está también en:</h5>
        <d3-map indicator={{cities_indicator_2}}></d3-map>
      </div>
    </div>
  </section>
</div>
